@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root{
    --background-darkgray: #202020;
    --background-gray: #2F2F2F;
    --secondary-gray:#454141;
    --secondary-grayblue: #464848;
    --secondary-lightgray: #A19F9F;

    --accent-blue: #479DA6;
    --accent-light-blue: #34CADA;
    --accent-orange: #DA8D34;
    /*Product detail*/
    --blue-gradient: #c271f3;
    --blue-gradient-img: linear-gradient(160deg, #c271f3 0%, #34cada 100%);
    --violet-gradient: #b65cb6;
    --violet-gradient-img: linear-gradient(0deg, #b65cb6 0%, #7f248d 100%);
    --purple-gradient: #D9AFD9;
    --purple-gradient-img: linear-gradient(0deg, #D9AFD9 0%, #b422a5 100%);
    --fucsia-gradient: #ed60a4;
    --fucsia-gradient-img: linear-gradient(0deg, #ed60a4 0%, #b42268 100%); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


body{
    background: var(--background-gray);
    font-family:  'Roboto', sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}


/*NAVBAR*/
header{
    position: sticky;
}

nav.header__navbar{
    background-color: var(--background-darkgray);
    display: flex;
    padding: 10px;
    align-items: center;
}

nav.header__navbar .header__navbar-menu{
    display: flex;
    list-style: none;
}

nav.header__navbar .header__navbar-logo img{
    height: 36px;
    width: auto;
}

nav.header__navbar .header__navbar-menu li{
    margin-left: 20px;
}

.variety-menu{
    display: none;
    list-style: none;
}

#variety:hover .variety-menu{
    display: block;
}

/*FOOTER*/
footer#footer__container{
    display: flex;
    padding: 40px 20px;
    justify-content: space-between;
    background-color: var(--background-darkgray);
}

footer#footer__container .footer__logo img{
    height: 48px;
    width: auto;
}

footer#footer__container .footer__menu ul{
    list-style: none;
}
footer#footer__container .footer__menu ul li{
    padding-bottom: 5px;
}


footer#footer__container .footer__social .footer__social-icons{
    display: flex;
    justify-content: space-between;
}

form#form__subscribe{
    margin-top: 20px;
}

form#form__subscribe input#email{
    outline: none;
    border:none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-gray);
}

form#form__subscribe button[type="submit"]{
    border: none;
    outline:none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--accent-blue);
    color: white;
}



/*PRODUCT DETAIL*/
.beer__container{
    display: flex;
}

article.beer__detail-container{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

article.beer__detail-container .beer__detail-circle{
    position: absolute;
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    border-radius: 50%;
    background: var(--blue-gradient);
    background-image: var(--blue-gradient-img);
    animation: 3s beer-detail ease-in-out 0.5s forwards;
    z-index: 1;
}

@keyframes beer-detail {
    0%{
        transform: scaleX(1);
        border-radius: 50%;
    }
    100%{
        transform: scaleX(1.5) translateX(50px);
        border-radius: 20px;
    }
}

article.beer__detail-container img.beer__detail-img{
    position: absolute;
    height:300px;
    width: auto;
    top: calc(50% - 150px);
    z-index: 3;
    transition: all 1s ease-in-out;
}

article.beer__detail-container img.beer__detail-img:hover{
    transform: scale(1.2);
}

article.beer__detail-container div.beer__detail-data{
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 2;
    font-size: 0.8rem;

    animation: 3s data ease-in-out 0.5s forwards;
}

@keyframes data {
    0%{
        opacity: 0;
        transform: translate(-80%, -50%);
    }
    100%{
        opacity: 1;
        transform: translate(20%,-50%);
    }
}

.beer__detail-data img{
    
    height: 1rem;
    width: auto;
    margin-right: 5px;
    float: left;
}

.beer__description-container{
    width: 300px;
    height: auto;
    margin: auto;
}

.beer__description-container h1{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.beer__description-container p{
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 10px;
}

div.beer__description__size img{
    height: 30px;
    width: auto;
}

form.form__cart input[type="number"]{
    outline: none;
    border:none;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--secondary-gray);
}

aside.aside__variety div h2{
    font-size: 3rem;
}

section.anotherBeers{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 20px;
}

section.anotherBeers div{
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto 0;
}

section.anotherBeers div div.circle{
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: calc(50% - 75px);
    margin: auto;
    justify-self: center;
}

section.anotherBeers div img{
    position: absolute;
    height: 100%;
    width: auto;
    top: calc(50% - 100px);

    transition: all 1s ease-in-out;
}

section.anotherBeers div img:hover{
    transform: scale(1.2);
}

/*section.anotherBeers div:nth-child(1) img{
    animation: 3s another-beers ease-in-out 0.5s forwards;
}
section.anotherBeers div:nth-child(2) img{
    animation: 3s another-beers ease-in-out 0.8s forwards;
}
section.anotherBeers div:nth-child(3) img{
    animation: 3s another-beers ease-in-out 1s forwards;
}

@keyframes another-beers{
    0%{
        transform: translateY(200px);
    }
    100%{
        transform: translateY(0px);
    }
}*/

section.anotherBeers div:nth-child(1) div.circle{
    background-color: var(--violet-gradient);
    background-image: var(--violet-gradient-img);
}
section.anotherBeers div:nth-child(2) div.circle{
    background-color: var(--purple-gradient);
    background-image: var(--purple-gradient-img);
}
section.anotherBeers div:nth-child(3) div.circle{
    background-color: var(--fucsia-gradient);
    background-image: var(--fucsia-gradient-img);
}

/*SHOPPING CART*/
article.article__product-detail{
    background-color: var(--secondary-gray);
    border-radius: 10px;
    height: 300px; /**/
    align-content: center;
    margin: 10px;
}

article.article__product-detail img.product-detail__img{
    height: 120px;
}

article.article__product-detail h4.product-detail__name{
    font-size: 1rem;
    font-weight: 300;
}

article.article__product-detail .product-detail__price{
    font-size: 1rem;
    color: var(--accent-light-blue);
}

article.article__product-detail input[type="number"].product-detail__quantity{
    outline: none;
    border:none;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--secondary-lightgray);
}

/* Aside Summary cart*/
aside.cart__container{
    background-color: var(--secondary-grayblue);
    border-radius: 4px;
    width: 50%;
    height: auto;
}

input[type="text"].cart__discountCoupon, input[type="number"]#calculateShipping {
    outline: none;
    border:none;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--secondary-lightgray);
}

button.submit-discountCoupon, button.submit-calculateShipping{
    border: none;
    outline:none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--secondary-lightgray);
    color: white;
    margin-left: 5px;
}

img.cart__paymentMethod-img{
    height: 20px;
    width: auto;
}

.summary-cart-subtitle{
    font-size: 1rem;
    font-weight: 300;
}

button.cart-summary__submitButton{
    border: none;
    outline:none;
    width: 100%;
    height: 20px;
    padding: 5px 10px;
    border-radius: 0px 0px 4px 4px;
    background-color: var(--accent-blue);
    color: white;
}
table.table_summary{
    font-size: 0.8rem;
}
table.table_summary tr td{
   width: 100px;
}

table.table_summary tr.table_summary-total{
    font-size: 1rem;
    font-weight: 400;
}

table.table_summary tr.table_summary-total td.total-price{
    color: var(--accent-light-blue);
}

/*CONTACT*/

.contact__container{
    margin: 20px;
    width: 50%;
    height: auto;
}

.mediumContacts{
    margin: 20px;
}

button.contact__buttonSubmit{
    border: none;
    outline:none;
    width: 80px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--accent-blue);
    color: white;
}

form.contact input.contact__input, textarea.contact__input{
    outline: none;
    border:none;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secondary-gray);
}

form.contact input.contact__input::placeholder{
    color: white;
}

iframe.map{
    filter: invert(80%)
}

.mediumContact{
    font-size: 0.8rem;
    font-weight: 300;
}

/*INDEX*/
#video{
    width: 100vw;
    height: auto;
    object-fit: cover;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
header .header__container{
    width: 100%;
    height: auto;
    align-items: center;
}
h1#header__slogan{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}
.section-team__container{
    margin: 20px;
}
article.team__container div#team1-img{
    background-image: url("../resources/images/team1.jpg");
}
article.team__container div#team2-img{
    background-image: url("../resources/images/team2.jpg");
}
article.team__container div#team3-img{
    background-image: url("../resources/images/team3.jpg");
}
article.team__container div.team__container-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
button.buttonTeamInfo{
    border: none;
    outline:none;
    width: 80px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--accent-blue);
    color: white;
    margin-top: 20px;
}

article.variety__container{
    margin: 20px;
}

article.variety__container img{
    height: 300px;
    width: auto;
}
.companyDescription__container{
    margin: auto 20px;
    text-align: center;
}
.subtitle{
    font-size: 2rem;
    font-weight: 400;
    padding: 10px;
}
.textCompanyDescription{
    font-size: 1rem;
    font-weight: 2;
}

